nav {
    display: flex;
    justify-content: center;
}
.topButtons{
    border: 1px black solid;
    padding: 12px;
    background-color: white;
    font-size: 2rem;
    margin: 12px;
    width: 40%;
}
.active{
    background-color: #D0D0D0;
    color: red
}